{% extends 'base.html' %}
{% block title %} My Events {% endblock %}
{% block content %}

<h1>Events Created</h1>

<a class="btn btn-success" href="{% url 'event_create' %}">Add New Event</a>

<div class="card-columns">
   {% for event in object_list %}
   <div class="card m-3">
      <div class="card-body">
         <div class="card-title"> {{ event.name }} </div>
         <div class="card-text">
            Starts on {{ event.date_from }}
            and ends on {{ event.date_to }}
         </div>
         <div class="card-text">
            <small>Created by {{ event.creator }}</small>
         </div>
      </div>
      <div class="card-footer">
         <a href="{% url 'event_detail' event.pk %}">more</a>
      </div>
   </div>
   {% endfor %}
</div>
{% endblock %}